.card {
  .question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .text {
      width: 75%;
      color: #303030;
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      //text-transform: uppercase;
      padding: 15px 0;
      text-align: left;
    }

    .button {
      width: 20px;
      height: 20px;
      position: relative;
      transition: cubic-bezier(.36,-0.01,.46,1.73) 0.6s;

      div {
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        width: 2px;
        height: 100%;
        background-color: #000;
      }

      .hor_line {
        transform: rotateZ(90deg);
      }
    }

    .button.active {
      transform: rotateZ(45deg);
    }
  }

  .answer {
    overflow: hidden;
    transition: cubic-bezier(.49,-0.01,.28,1.04) 0.6s;
    width: 100%;
    border-radius: 10px 0 10px 10px;

    .text {
      width: 100%;
      padding: 30px 50px;
      background: #2A4B7B;
      color: #FFF;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .answer.tower {
    .text {
      background-color: #2A4B7B;
    }
  }

  .answer.stairs {
    .text {
      background-color: #636872;
    }
  }

  .answer.scaffolding {
    .text {
      background-color: #6C758F;
    }
  }

  .answer.scaffold {
    .text {
      background-color: #293E58;
    }
  }
}