.content {
  padding: 50px 75px;
  background-color: #fff;
  border-radius: 14px;
  margin: 150px auto;
  box-shadow: 0 4px 20px 0 rgba(134, 134, 134, 0.1);

  .title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
  }

  .cards {
    padding: 30px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 1px solid #303030;;
  }
}