.content {
  margin-bottom: 150px;

  .title_part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    .title{
      width: max-content;
      white-space: nowrap;
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
      padding: 0 50px;
    }

    div {
      height: 2px;
      width: 100%;
      background-color: #A5A5A5;
    }
  }

  .docs_part {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .content {
    .title_part {
      .title {
        padding: 0 25px;
      }
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .content {
    margin-bottom: 100px;

    .title_part {
      margin-bottom: 50px;
      justify-content: center;

      div {
        display: none;
      }
    }

    .docs_part {
      gap: 50px;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 380px) {
  .content {
    .title_part {
      .title {
        font-size: 20px;
        white-space: break-spaces;
        margin-bottom: 0;
      }
    }


  }
}