.card{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;

  .text{
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}


@media (max-width: 576px) {
  .card {
    width: 75%;
    gap: 15px;

    img {
      width: 25%;
      height: auto;
    }

    .text {
      font-size: 16px;
    }
  }
}

@media (max-width: 380px) {
  .card {


    .text {
      font-size: 14px;
    }
  }
}