.button {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  .marker {
    height: 3px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    transition: 0.4s;
  }

  &:hover {
    .marker {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .marker.active {
    background-color: #EE9A38;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .button {
    padding: 10px 0;
  }
}

@media (max-width: 380px) {

}