.carousel {
  width: 100%;
  margin-bottom: 150px;

  .layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;

    .container {
      margin: 0;

      .title {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 25px;
      }

      .content {
        width: 100%;
        overflow: hidden;

        .track {
          display: flex;
          align-self: center;
          justify-content: space-between;
          transition: 1.5s cubic-bezier(.6,0,.4,1);
        }
      }
    }

    .button {
      width: 5%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #000;
      font-family: Montserra, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      img {
        height: 100%;
        width: 40%;
        transition: 0.4s;
        opacity: 0.5;
      }

      &:hover {
        img {
          opacity: 0.3;
        }
      }

      &:active {
        img {
          opacity: 0.1;
        }
      }
    }

    .button.next {

    }

    .button.prev {
      img {
        transform: rotateZ(180deg);
      }
    }

    .button.next.disable {
      cursor: auto;
      img {
        opacity: 0.1;
      }
    }

    .button.prev.disable {
      cursor: auto;
      img {
        opacity: 0.1;
      }
    }
  }

  .markers {
    margin: 0 auto;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4%;
  }
}

