.card {
  padding: 0 5px;
  min-height: 100%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
    padding: 30px 15px;
    border: none;
    border-radius: 14px;

    .img_part {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 5px;
    }

    .params {

      .text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 35px;
        color: #282828;
      }

      .text.select {
        color: #EE9A38;
        padding-left: 5px;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 0 5px;

    .content {

      .img_part {
        img {
          width: 75%;
          height: auto;
        }
      }

      .title {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .card {
    .content {
      .img_part {
        img {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 380px) {

}