.content {
  margin: 0 auto 150px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 35%;

  .title {
    color: #000;
    font-family: Montserra, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .layout {
    min-width: 100%;
  }

  .ps {
    .text {
      color: #293E58;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }
}