.card {
  width: 100%;

  .title_part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    position: relative;

    .title {
      min-width: max-content;
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
      padding: 0 20px;
      background-color: #fdfdfd;

      br {
        display: none;
      }
    }

    .title_line {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 95vw;
      height: 1px;
      background-color: #A5A5A5;
      transform: translateX(-50%);
    }

    .passport {
      min-width: max-content;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      background-color: #fdfdfd;
      padding-right: 20px;
    }
  }

  .list {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 60px;

    .item {
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      list-style-position: inside;
    }
  }

  .specifications_title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 60px;
    text-align: center;
  }

  .table {
    border-radius: 14px;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;

    img {
    }

    .layout {
      overflow: auto hidden;
      min-width: 50%;
    }

    .layout::-webkit-scrollbar {
      height: 5px;
    }

    .layout::-webkit-scrollbar-track {
      background-color: #aaa;
      border-radius: 3px;
    }

    .layout::-webkit-scrollbar-thumb {
      background-color: #636872;
      border-radius: 3px;
      -webkit-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
      -moz-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
      box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    }
  }

  .table.row_reverse {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .card {
    .title_part {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      div {
        display: none;
      }

      .title {
        min-width: auto;
        font-size: 25px;
      }

      .passport {
        padding: 0 20px;
      }
    }

    .list {
      width: 75%;

      .item {
        font-size: 14px;
      }
    }

    .table, .table.row_reverse {
      flex-direction: column-reverse;
      justify-content: space-between;

      .layout {
        width: 100%;
      }

      img {
        width: 40%;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    .specifications_title {
      margin-bottom: 30px;
    }

    .list {
      width: 80%;

      .item {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    .title_part {
      .title {
        padding: 0 10px;

        br {
          display: block;
        }
      }

      .passport {
        padding: 0 10px;
      }
    }

    .list {
      width: 90%;

      .item {
        font-size: 12px;
      }
    }

    .table {
      padding: 30px 3%;
    }
  }
}

@media (max-width: 380px) {
  .card {
    .title_part {
      .title {
        font-size: 20px;
      }
    }
  }
}