* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: #fcfcfc;
}

/* width */
body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #efefef;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.anchor_link{
    margin-top: -100px;
    padding-bottom: 100px;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}