.home {
  position: relative;

.table{
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .table_title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
    align-self: flex-start;
  }
}

  .videos_section {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }


}