.header {
  height: 100px;
  width: 100%;
  padding: 16px 0;
  background-color: rgba(27, 46, 75, 0.5);
  transition: background-color 0.3s;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

    .logo {
      display: flex;
      justify-content: center;
      position: relative;
      width: 80px;
      cursor: pointer;

      img {
        transform: translateY(-12px) scale(1);
        transition: 0.2s;
      }

      p {
        width: 100%;
        position: absolute;
        top: calc(100% - 19px);
        left: 0;
        font-family: 'Jura', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #D6D6D6;
        opacity: 1;
        transform: translateY(11px);
        transition: 0.2s;
      }
    }

    .logo_title {
      display: none;

      .title, .title a {
        font-family: 'Jura', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 2px;
        letter-spacing: 1px;
        color: #fff;
        text-decoration: none;
      }
    }

    .links {
      display: flex;
      gap: 50px;
      align-items: center;
    }

    .burger_menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 75px;
      height: 55px;
      padding: 19px 22px;
      background-color: transparent;
      border: none;
      transition: 0.3s;
      border-radius: 5px;

      &:hover, &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }

      div {
        width: 100%;
        height: 2px;
        background-color: #fff;
        border-radius: 10px;
      }
    }
  }
}

.header.tower {
  background-color: rgba(27, 46, 75, 0.5);
}

.header.stairs {
  background-color: rgba(68, 70, 77, 0.5);
}

.header.scaffolding {
  background-color: rgba(68, 75, 93, 0.5);
}

.header.scaffold {
  background-color: rgba(28, 42, 58, 0.5);
}

.header.not_found_page{
  background-color: rgba(27, 46, 75, 1);
}

.header.sticky {
  background-color: rgba(27, 46, 75, 1);
  -webkit-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
  -moz-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
  box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);

  .content {
    .logo {
      img {
        transform: translateY(0) scale(0.8);
      }

      p {
        opacity: 0;
        transform: translateY(0);
      }
    }
  }
}

.header.tower.sticky {
  background-color: rgba(27, 46, 75, 1);
}

.header.stairs.sticky {
  background-color: rgba(68, 70, 77, 1);
}

.header.scaffolding.sticky {
  background-color: rgba(68, 75, 93, 1);
}

.header.scaffold.sticky {
  background-color: rgba(28, 42, 58, 1);
}


//Адаптив
@media (max-width: 1200px) {
  .header {
    .content {
      .links {
        gap: 25px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    background-color: transparent;
    display: flex;

    .content {
      width: 100%;
      padding: 30px 0;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;

      .logo_title {
        display: block;
      }

      .links {
        display: none;
      }

      .burger_menu {
        display: flex;
      }

      .logo {
        img {
          transform: translateY(0) scale(0.8);
        }

        p {
          opacity: 0;
          transform: translateY(0);
        }
      }
    }
  }

  .header.tower {
    background-color: transparent;
  }
  .header.stairs {
    background-color: transparent;
  }
  .header.scaffolding {
    background-color: transparent;
  }
  .header.scaffold {
    background-color: transparent;
  }

  .header.tower.sticky {
    background-color: transparent;
    box-shadow: none;

    .content {
      background-color: rgba(27, 46, 75, 1);
    }
  }
  .header.stairs.sticky {
    background-color: transparent;
    box-shadow: none;

    .content {
      background-color: rgba(68, 70, 77, 1);
    }
  }
  .header.scaffolding.sticky {
    background-color: transparent;
    box-shadow: none;

    .content {
      background-color: rgba(68, 75, 93, 1);
    }
  }
  .header.scaffold.sticky {
    background-color: transparent;
    box-shadow: none;

    .content {
      background-color: rgba(28, 42, 58, 1);
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .header {
    padding: 10px 0;

    .content {
      align-items: center;
    }
  }
}

@media (max-width: 380px) {
  .header {
    .content {
      .logo_title {
        .title, .title a {
          font-size: 18px;
        }
      }
    }
  }
}