.header {
  height: 100px;
  width: 100%;
  padding: 16px 0;
  background-color: rgba(27, 46, 75, 0.5);
  transition: background-color 0.3s;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;

  .content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      position: relative;
      width: 80px;
      cursor: pointer;

      img {
        transform: translateY(-12px) scale(1);
        transition: 0.2s;
      }

      p {
        width: 100%;
        position: absolute;
        top: calc(100% - 19px);
        left: 0;
        font-family: 'Jura', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #D6D6D6;
        opacity: 1;
        transform: translateY(11px);
        transition: 0.2s;
      }
    }

    .links {
      display: flex;
      gap: 50px;
      align-items: center;
    }
  }
}

.header.tower {
  background-color: rgba(27, 46, 75, 0.5);
}

.header.stairs {
  background-color: rgba(68, 70, 77, 0.5);
}

.header.scaffolding {
  background-color: rgba(68, 75, 93, 0.5);
}

.header.scaffold {
  background-color: rgba(28, 42, 58, 0.5);
}

.header.sticky {
  background-color: rgba(27, 46, 75, 1);

  .content {
    .logo {
      img {
        transform: translateY(0) scale(0.8);
      }

      p {
        opacity: 0;
        transform: translateY(0);
      }
    }
  }

}

.header.tower.sticky {
  background-color: rgba(27, 46, 75, 1);
}

.header.stairs.sticky {
  background-color: rgba(68, 70, 77, 1);
}

.header.scaffolding.sticky {
  background-color: rgba(68, 75, 93, 1);
}

.header.scaffold.sticky {
  background-color: rgba(28, 42, 58, 1);
}