.link {
  list-style: none;
  position: relative;

  a {
    color: #fff;
    text-decoration: none;
    font-family: Jura, sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 21px;
    transition: 0.4s;

    &:active{
      color: #F3A242;
    }
  }

  .underline {
    width: 75%;
    height: 2px;
    background-color: #F3A242;
    position: absolute;
    top: 105%;
    left: 0;
    transform: scaleX(0);
    transition: 0.3s;
    transform-origin: left;

  }

  &:hover {
    .underline {
      transform: scaleX(1);
    }
  }
}