.content {
  height: 100%;

  .title {
    width: 100%;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
  }

  .video_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}



@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .content {
    .title {
      font-size: 20px;
    }

    .video_part {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .content {
    .title {
      font-size: 14px;
    }

    .video_part {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 380px) {

}