.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 150px;

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .text {
    color: #2A4B7B;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }

  .text.tower {
    color: #2A4B7B;
  }

  .text.stairs {
    color: #636872;
  }

  .text.scaffolding {
    color: #6C758F;
  }

  .text.scaffold {
    color: #293E58;
  }
}



@media (max-width: 1200px) {
  .content {
    align-items: center;

    .cards {
      width: 50%;
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 30px;
    }
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .content {
    .cards {
      width: 70%;
    }
  }
}

@media (max-width: 576px) {
  .content {
    .cards {
      width: 90%;
    }
  }
}