.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  text-align: center;
  padding: 30px 40px;
  border-radius: 20px;
  background: #FFF;
  //box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 20px -15px rgba(34, 60, 80, 0.08);
-moz-box-shadow: 0px 0px 20px -15px rgba(34, 60, 80, 0.08);
box-shadow: 0px 0px 20px -15px rgba(34, 60, 80, 0.08);
  transition: 0.6s;
  height: 100%;


  &:hover {
    transform: scale(1.05);
  }

  .content {
    .info_part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .top_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .title {
          color: #000;
          text-align: center;
          font-family: Montserrat, sans-serif;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .description {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .card_img {
        padding: 30px 0;

        img {

        }
      }
    }

    .prices {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;


      .titles_carousel {
        overflow-x: hidden;
        margin: 0;

        .carousel_layout {
          display: flex;
          transition: cubic-bezier(.43, -0.01, .33, 1) 0.6s;
          margin: 0;

          .carousel_item_title {
            min-width: 100%;
            text-align: center;
            color: #EE9A38;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0;

          }
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .prices_value {
        overflow-x: hidden;

        .layout {
          display: flex;
          transition: cubic-bezier(.43, -0.01, .33, 1) 0.6s;

          .prices_block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 100%;
            padding: 0 20px;

            .alt_title {
              font-family: Montserrat, sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-bottom: 10px;
            }

            .price_value {
              p {
                color: #282828;
                font-family: Montserrat, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px;

                span {
                  color: #EE9A38;
                  font-size: 20px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .add_info {
      margin-bottom: 20px;

      .text {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
      }
    }
  }

  .order_button {
    margin: 0 auto;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #F3A242;
    background-color: transparent;
    padding: 10px 0;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: 0.3s;
    position: relative;

    &:hover {
      background-color: #F3A242;
      color: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .card {
    padding: 20px 15px;

    .content {
      .info_part {
        height: auto;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 20px;

        .card_img {
          padding: 0;

          img {
            width: 80%;
            height: auto;
          }
        }
      }

      .prices {
        gap: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .card {
    padding: 20px;

    .content {
      .prices {
        .prices_value {
          .layout {
            .prices_block {
              justify-content: center;
              align-items: center;
              padding: 0;
            }
          }
        }
      }

      .add_info {
        .text {
          text-align: center;
        }
      }
    }

    .order_button {
      width: 75%;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .card {

    &:hover {
      transform: none;
    }

    .content {
      .info_part {
        height: auto;
        gap: 30px;
        justify-content: flex-start;

        .card_img {
          width: 100%;

          img {
            width: 60%;
            height: auto;
          }
        }
      }

      .prices {
        .buttons {
          margin: 0 auto;
          width: 90%;
        }
      }
    }

    .order_button {
      width: 90%;
    }
  }
}

@media (max-width: 380px) {
  .card {
    .content {
      .info_part {
        .card_img {
          img {
            width: 80%;
          }
        }
      }

      .prices {
        .buttons {
          margin: 0 auto;
          width: 100%;
        }

        .prices_value {
          .layout {
            .prices_block {


              .price_value {
                p {
                  font-size: 14px;
                  font-weight: 600;

                  span {
                    font-size: 16px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }

      .add_info {
        .text {
          font-size: 8px;
        }
      }
    }

    .order_button {
      width: 100%;
      font-weight: 500;
    }
  }
}