.prices_button {
    background-color: transparent;
    border: none;
    display: flex;
    cursor: pointer;

    .arrow_image {
        position: relative;

        img {
            display: block;
            margin: 0;
            padding: 0;
            transition: 0.3s;
        }

        .arrow {
            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        .arrow_hover {

        }
    }
}

.prices_button:hover {
    .arrow_image {
        .arrow {

            img {
                opacity: 0;
            }
        }

        .arrow_hover {
            img {

            }
        }
    }
}

.prices_button.prev_button {
    .arrow_image {
        .arrow_hover {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

.prices_button.next_button {
    .arrow_image {
        .arrow {
            img {
                transform: rotateY(180deg);
            }
        }
    }
}

.prices_button.prev_button.disable {
    .arrow_image {

    }
}

.prices_button.disable {
    cursor: auto;

    .arrow_image {
        .arrow {
            img {
                opacity: 0.3;
            }
        }

        .arrow_hover {
            img {
                opacity: 0;
            }
        }

        &:hover {
            .arrow {
                img {
                    opacity: 0.3;
                }
            }

            .arrow_hover {
                img {
                    opacity: 0;
                }
            }
        }
    }
}