.card {
  min-width: 100%;
  text-align: center;
  padding: 30px 40px;
  border-radius: 14px;
  background: #FFF;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.05);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .info_part {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;


    .top_description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .title {
        color: #000;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .description {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .card_img {
      img {

      }
    }
  }

  .prices {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;


    .titles_carousel {
      overflow-x: hidden;
      margin: 0;

      .carousel_layout {
        display: flex;
        transition: cubic-bezier(.43, -0.01, .33, 1) 0.6s;
        margin: 0;

        .carousel_item_title {
          min-width: 100%;
          text-align: center;
          color: #EE9A38;
          font-family: Montserrat, sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0;

        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .prices_value {
      overflow-x: hidden;


      .layout {
        display: flex;
        transition: cubic-bezier(.43, -0.01, .33, 1) 0.6s;

        .prices_block {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          min-width: 100%;
          padding: 0 20px;

          .price_value {
            p {
              color: #282828;
              font-family: Montserrat, sans-serif;
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 27px;

              span {
                color: #EE9A38;
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }


      }
    }
  }

  .order_button {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #F3A242;
    background-color: transparent;
    padding: 10px 0;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #F3A242;
      color: #fff;
    }
  }
}