.layout * {
  /* width */
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
    border: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
    border: 4px solid #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: #333;
  overflow: hidden;

  .header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3B3B3B;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 16px;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      .menu_button {
        padding: 3px;
        border: none;
        border-radius: 2px;
        background-color: transparent;
        cursor: pointer;
        transition: 0.4s;

        img {
          display: flex;
          margin: 0;
        }

        &:hover {
          opacity: 0.4;
        }
      }

      .menu_button.active {
        background-color: #191B1C;
      }

      .file_name {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .middle {
      display: grid;
      grid-template-columns: 1fr 2px min-content 2px 1fr;
      gap: 25px;

      span, .input {
        color: #fff;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
      }

      .input {
        border-radius: 4px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #191B1C;
        outline: none;
        border: none;
      }

      .pages_counter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;

        span {
          word-spacing: 8px;
        }
      }

      .scale {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .input {
          width: 8ch;
        }

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          border-radius: 2px;
          cursor: pointer;
          width: calc(30px * 0.6);
          height: calc(30px * 0.6);
          font-size: 20px;
          color: #fff;
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          transition: 0.4s;

          &:hover {
            opacity: 0.4;
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .add_options {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .rotate_button {
          width: 30px;
          height: 30px;
          border-radius: 4px;
          border: none;
          background-color: transparent;
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            opacity: 0.4;
          }
        }
      }

      .delimiter {
        opacity: 0.5;
        height: 30px;
        width: 2px;
        border: none;
        border-radius: 2px;
        background-color: #BDBDC7;
      }
    }

    .right {

    }
  }

  .content {
    min-height: calc(100vh - 62px);
    height: max-content;
    display: flex;
    align-items: stretch;
    overflow: auto;

    .sidebar {
      display: flex;
      flex-direction: column;
      width: max-content;
      height: 100%;
      background-color: #4A4A4A;
      transition: 0.4s;
      -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      .sidebar_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        border-bottom: 1px solid #484848;
        margin-bottom: 5px;

        .title {
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 16px;
          color: #fff;
        }

        .close_button {
          background-color: transparent;
          border: none;
          transition: 0.4s;
          cursor: pointer;

          &:hover {
            opacity: 0.4;
          }

          img {
            transform: rotateZ(45deg);
          }
        }
      }

      .sidebar_document {
        min-width: max-content;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        overflow-y: auto;
        overflow-x: hidden;

        .sidebar_page_wrapper {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 30px 30px 10px 30px;
          transition: 0.4s;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          position: relative;

          &:hover {
            background-color: #323336;
          }

          .hover {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: all;
          }

          .sidebar_page {
            position: relative;
            z-index: 0;
            width: 10%;
            cursor: pointer;
            opacity: 0.6;
            transition: 0.4s;
          }

          .page_number {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
          }
        }

        .sidebar_page_wrapper.active {
          background-color: #323336;

          .hover {
            opacity: 0;
          }

          .sidebar_page {
            opacity: 1;
          }
        }
      }

      /* Handle */
      & *::-webkit-scrollbar-thumb {
        border: 4px solid #4A4A4A;
      }
    }

    .sidebar.open {
      margin-left: 0 !important;
    }

    .document {
      margin: 0 auto;
      min-width: min-content;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      .page {
        width: min-content;
        -webkit-box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);
      }

      .page_number {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        background-color: #fff;
        -webkit-box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 4px -1px rgba(34, 60, 80, 0.2);

      }

      .desktop {

      }

      .mobile {
        display: none;
      }
    }

    .button {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      box-shadow: none;
      width: 20%;
      background-color: transparent;
      cursor: pointer;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #fff;
      transition: 0.4s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      img {
        transition: 0.5s;
      }
    }

    .button.prev {
      img {
        transform: rotateZ(180deg);
      }
    }

    .button.next {

    }
  }

  /* Handle */
  & *::-webkit-scrollbar-thumb {
    border: 4px solid #333;
  }
}


@media (max-width: 1200px) {
  .layout {
    .header {
      .left {
        gap: 15px;

        .file_name {
          font-size: 14px;
        }
      }

      .middle {
        gap: 15px;
      }
    }

    .content {
      .sidebar {
        min-width: max-content;
        margin-left: -50%;
      }
    }
  }
}

@media (max-width: 992px) {
  .layout {
    .header {
      grid-template-columns: 1fr 3fr 1fr;

      .left {
        .file_name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .layout {
    .header {
      padding: 8px;
    }

    .content {
      position: relative;

      .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 !important;
        z-index: 20;
        height: max-content;
        min-height: auto;
        width: 100%;
        transform: translateY(-100%);

        .sidebar_header {
          display: none;
        }

        .sidebar_document {
          width: 100% !important;
          max-width: 100%;
          min-width: auto;
          flex-direction: row;
          padding: 10px 5px 5px 5px;
          overflow-y: hidden;
          overflow-x: auto;

          .sidebar_page_wrapper {
            padding: 10px 10px 5px 10px;
            gap: 5px;

            .page_number {
              margin: 0;
              padding: 0;
              line-height: 1;
            }
          }
        }
      }

      .sidebar.open {
        transform: translateY(-1px);
      }
    }
  }
}

@media (max-width: 576px) {
  .layout {
    .header {
      grid-template-columns: 1fr 6fr 1fr;

      .middle {
        gap: 10px;

        .input {
          width: 20px;
          height: 20px;
        }

        span, .input {
          font-weight: 400;
          font-size: 10px;
        }

        .pages_counter {
          gap: 6px;
        }

        .scale {
          gap: 6px;

          .input {
            width: 6ch;
          }
        }
      }
    }

    .content {
      .button {
        display: none;
      }

      .document {
        .mobile {
          display: block;
        }

        .desktop {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .layout {
    .header {
      .middle {
        gap: 8px;
      }
    }

  }
}