.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;

    .header {
        width: 100%;
        background: #2A4B7B;

        .title {
            color: #FFF;
            text-align: center;
            font-family: Montserrat, sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 15px 0;
        }
    }

    .header.tower {
        background: #2A4B7B;
    }

    .header.stairs {
        background: #636872;
    }

    .header.scaffolding {
        background: #6C758F;
    }

    .header.scaffold {
        background: #293E58;
    }

    .under_header {
        width: 100%;
        height: 50px;
        background: #2A4B7B;
    }

    .under_header.tower {
        background: #2A4B7B;
    }

    .under_header.stairs {
        background: #636872;
    }

    .under_header.scaffolding {
        background: #6C758F;
    }

    .under_header.scaffold {
        background: #293E58;
    }

    .body {
        width: 900px;
        margin: -50px;
        padding: 50px;
        border-radius: 14px;
        background: #FFF;
        box-shadow: 0 4px 20px 0 rgba(134, 134, 134, 0.10);

        .cards {
            display: flex;
            justify-content: space-between;
        }
    }
}