.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  .header {
    width: 100%;
    background: #2A4B7B;

    .title {
      color: #FFF;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 15px 0;
    }
  }

  .header.tower {
    background: #2A4B7B;
  }

  .header.stairs {
    background: #636872;
  }

  .header.scaffolding {
    background: #6C758F;
  }

  .header.scaffold {
    background: #293E58;
  }

  .under_header {
    width: 100%;
    height: 50px;
    background: #2A4B7B;
  }

  .under_header.tower {
    background: #2A4B7B;
  }

  .under_header.stairs {
    background: #636872;
  }

  .under_header.scaffolding {
    background: #6C758F;
  }

  .under_header.scaffold {
    background: #293E58;
  }

  .content {
    width: 900px;
    margin: -50px;
    padding: 50px;
    border-radius: 14px;
    background: #FFF;
    -webkit-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    -moz-box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);
    box-shadow: 0 0 20px -15px rgba(34, 60, 80, 0.08);

    .cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 10%;
    }
  }
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {
  .layout {
    .header {
      .title {
        font-size: 25px;
      }
    }

    .content {
      width: 90%;

      .cards {
        gap: 6%;
      }
    }
  }
}

@media (max-width: 768px) {
  .layout {
    .header {
      .title {

      }
    }

    .content {
      width: 95%;
      padding: 25px;

      .cards {
        gap: 2%;
      }
    }
  }
}

@media (max-width: 576px) {
  .layout {
    padding-bottom: 50px;
    background-color: #2A4B7B;
    margin-bottom: 100px;

    .header {
      padding: 10px 0;
    }

    .under_header {
      display: none;
    }

    .content {
      margin: 0;
      width: 90%;

      .cards {
        align-items: center;
        flex-direction: column;
        gap: 50px;
      }
    }
  }

  .layout.tower {
    background: #2A4B7B;
  }

  .layout.stairs {
    background: #636872;
  }

  .layout.scaffolding {
    background: #6C758F;
  }

  .layout.scaffold {
    background: #293E58;
  }
}

@media (max-width: 380px) {
  .layout {

    .header {
      .title {
        font-size: 20px;
      }
    }

    .content {
      width: 90%;
    }
  }
}