.nav_links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: rgba(255,255,255,0.7);

  .content{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav_links.main {
  padding: 50px 0;
  background: #fff;
}

@media (max-width: 1200px) {
  .nav_links {
    .content {
      width: 90%;
      justify-content: space-around;
    }
  }
}

@media (max-width: 768px) {
  .nav_links {
    .content {
      width: 95%;
    }
  }
}

@media (max-width: 576px) {
  .nav_links {
    display: none;
  }

  .nav_links.main_screen {
    width: 95%;
    border-radius: 50px;
    padding: 6px 0;
    background: linear-gradient(90deg, #243949 0%, #517FA4 100%);

    .content {
      gap: 3%;
    }
  }
}

@media (max-width: 380px) {
  .nav_links {
    .content {
      gap: 2%;
    }
  }
}